/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
.dark ::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: #bae0fd;
    border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
    background: #0075cb;
}
::-webkit-scrollbar-thumb:hover {
    background: #0075cb;
}
